name: GitHub-Profile-Summary-Cards

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    name: generate-github-profile-summary-cards
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
          fetch-depth: 0
          token: ${{ secrets.PROFILE_TOKEN }} # Força o uso do seu token no checkout

      - name: Generate Cards
        uses: vn7n24fzkq/github-profile-summary-cards@release
        env:
          # O script interno busca EXATAMENTE essa variável de ambiente
          GITHUB_TOKEN: ${{ secrets.PROFILE_TOKEN }}
        with:
          USERNAME: ${{ github.repository_owner }}
          BRANCH_NAME: "main"
          commit_message: "docs: update profile summary cards" # Mensagem explícita
